# KDE Config File
[Desktop Entry]
Type=Application
Exec=glimpse -caption "%c" %i
Icon=glimpse
X-DocPath=glimpse/index.html
Terminal=false
Name=Glimpse
GenericName=Image Scanning Application
GenericName[et]=Piltide skaneerimise rakendus
GenericName[sv]=Bildläsningsprogram
Comment=Scan and save images
Comment[et]=Piltide skaneerimine ja salvestamine
Comment[sv]=Läs in och spara bilder
Categories=Qt;KDE;Graphics
