# KDE Config File
[Desktop Entry]
Type=Application
Exec=glimpse -caption "%c" %i
Icon=glimpse
X-DocPath=glimpse/index.html
Terminal=false
Name=Glimpse
GenericName=Image Scanning Application
GenericName[pt]=Aplicação de Digitalização de Imagens
GenericName[pt_BR]=Aplicação de Digitalização de Imagens
GenericName[zh_TW]=影像掃描應用程式
Comment=Scan and save images
Comment[pt]=Digitalizar e gravar imagens
Comment[pt_BR]=Digitalizar e gravar imagens
Comment[zh_TW]=掃描並儲存影像
Categories=Qt;KDE;Graphics
