[Desktop Entry]
Type=Application
Exec=skanlite -qwindowtitle %c %i
Icon=scanner
X-DocPath=skanlite/index.html
Terminal=false
Name=Skanlite
Name[ast]=Skanlite
Name[bg]=Сканиране
Name[bs]=Skanlite
Name[ca]=Skanlite
Name[ca@valencia]=Skanlite
Name[cs]=Skanlite
Name[da]=Skanlite
Name[de]=Skanlite
Name[el]=Skanlite
Name[en_GB]=Skanlite
Name[eo]=Skanlite
Name[es]=Skanlite
Name[et]=Skanlite
Name[fi]=Skanlite
Name[fr]=Skanlite
Name[ga]=Skanlite
Name[gl]=Skanlite
Name[hr]=Skanlite
Name[hu]=Skanlite
Name[id]=Skanlite
Name[is]=Skanlite
Name[it]=Skanlite
Name[ja]=Skanlite
Name[km]=Skanlite
Name[ko]=Skanlite
Name[ku]=Skanlite
Name[lt]=Skanlite
Name[lv]=Skanlite
Name[ml]=സ്കാന്‍ലൈറ്റ്
Name[mr]=स्कॅनलाइट
Name[ms]=Skanlite
Name[nb]=Skanlite
Name[nds]=Skanlite
Name[nl]=Skanlite
Name[nn]=Skanlite
Name[pa]=ਸਕਿਨਲਾਈਟ
Name[pl]=Skanlite
Name[pt]=Skanlite
Name[pt_BR]=Skanlite
Name[ro]=Skanlite
Name[ru]=Skanlite
Name[sk]=Skanlite
Name[sl]=Skanlite
Name[sq]=Skanlite
Name[sv]=Skanlite
Name[tr]=Skanlite
Name[ug]=Skanlite
Name[uk]=Skanlite
Name[x-test]=xxSkanlitexx
Name[zh_CN]=Skanlite
Name[zh_TW]=Skanlite
GenericName=Image Scanning Application
GenericName[ar]=تطبيق لمسح الصّور ضوئيًّا
GenericName[bg]=Програма за сканиране на изображения
GenericName[bs]=Program za skeniranje slika
GenericName[ca]=Aplicació de digitalització d'imatges
GenericName[ca@valencia]=Aplicació de digitalització d'imatges
GenericName[cs]=Aplikace pro skenování obrázků
GenericName[da]=Program til scanning af billeder
GenericName[de]=Anwendung zum Scannen von Bildern
GenericName[el]=Εφαρμογή σάρωσης εικόνων
GenericName[en_GB]=Image Scanning Application
GenericName[eo]=Aplikaĵo por skani bildojn
GenericName[es]=Aplicación de escaneo de imágenes
GenericName[et]=Piltide skaneerimise rakendus
GenericName[eu]=Irudiak eskaneatzeko aplikazioa
GenericName[fi]=Kuvien skannaussovellus
GenericName[fr]=Application de numérisation
GenericName[ga]=Feidhmchlár Scanta Íomhánna
GenericName[gl]=Aplicativo de dixitalización de imaxes
GenericName[hu]=Képolvasó alkalmazás
GenericName[id]=Aplikasi Pemindaian Citra
GenericName[is]=Myndskönnunarforrit
GenericName[it]=Applicazione per la scansione di immagini
GenericName[ja]=画像スキャンソフト
GenericName[km]=កម្មវិធី​ស្កេន​រូបភាព
GenericName[ko]=그림 스캔 프로그램
GenericName[ku]=Sepana Venihartina Wêneyan
GenericName[lt]=Paveikslėlių skenavimo programa
GenericName[lv]=Attēlu skenēšanas programma
GenericName[ml]=ചിത്രം പകര്‍ത്തിയെടുക്കാനുള്ള പ്രയോഗം
GenericName[mr]=प्रतिमा स्कॅन करणारा अनुप्रयोग
GenericName[ms]=Aplikasi Pengimbas Imej
GenericName[nb]=Bildeskanningsprogram
GenericName[nds]=Bildinlees-Programm
GenericName[nl]=Scanprogramma
GenericName[nn]=Biletskanningsprogram
GenericName[pa]=ਚਿੱਤਰ ਸਕੈਨ ਕਰਨ ਲਈ ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Program do skanowania
GenericName[pt]=Aplicação de Digitalização de Imagens
GenericName[pt_BR]=Aplicativo para digitalização de imagens
GenericName[ro]=Aplicație de scanare a imaginilor
GenericName[ru]=Сканирование изображений
GenericName[sk]=Aplikácia na skenovanie obrázkov
GenericName[sl]=Program za optično branje slik
GenericName[sq]=Program Për Skanimin e Imazheve
GenericName[sv]=Program för bildinläsning
GenericName[tr]=Resim Tarayıcı
GenericName[ug]=سۈرەت شويلىلاش پروگراممىسى
GenericName[uk]=Програма для сканування зображень
GenericName[x-test]=xxImage Scanning Applicationxx
GenericName[zh_CN]=图像扫描程序
GenericName[zh_TW]=影像掃描程式
Comment=Scan and save images
Comment[ar]=امسح الصّور ضوئيًّا واحفظها
Comment[bg]=Сканиране и записване на изображения
Comment[bs]=Skenirajte i snimite slike
Comment[ca]=Escaneja i desa imatges
Comment[ca@valencia]=Escaneja i guarda imatges
Comment[cs]=Senovat a uložit obrázky
Comment[da]=Scan og gem billeder
Comment[de]=Bilder scannen und abspeichern
Comment[el]=Σάρωση και αποθήκευση εικόνων
Comment[en_GB]=Scan and save images
Comment[eo]=Skani kaj konservi bildojn
Comment[es]=Escanear y guardar imágenes
Comment[et]=Piltide skaneerimine ja salvestamine
Comment[eu]=Eskaneatu eta gorde irudiak
Comment[fi]=Skannaa ja tallentaa kuvia
Comment[fr]=Numériser et enregistrer des images
Comment[ga]=Scan agus sábháil íomhánna
Comment[gl]=Dixitaliza e garda imaxes
Comment[hu]=Képek beolvasása és mentése
Comment[id]=Pindai dan simpan citra
Comment[is]=Skanna og vista myndir
Comment[it]=Scansiona e salva immagini
Comment[ja]=画像をスキャンして保存します
Comment[km]=ស្កេន និង​រក្សាទុក​រូបភាព
Comment[ko]=그림 스캔과 저장
Comment[ku]=Wêneyan venihêre û tomar bike
Comment[lt]=Skenuokite ir išsaugokite paveikslėlius
Comment[lv]=Skenē un saglabā attēlu
Comment[ml]=ചിത്രം സ്കാന്‍ ചെയ്തൂ സൂക്ഷിയ്ക്കുക
Comment[mr]=प्रतिमा स्कॅन करा व साठवा
Comment[nb]=Skann og  lagre bilder
Comment[nds]=Biller inlesen un sekern
Comment[nl]=Afbeeldingen scannen en opslaan
Comment[nn]=Skann og lagra bilete
Comment[pa]=ਚਿੱਤਰ ਸਕੈਨ ਕਰੋ ਅਤੇ ਸੰਭਾਲੋ
Comment[pl]=Skanuj i zapisuj obrazki
Comment[pt]=Digitalizar e gravar imagens
Comment[pt_BR]=Digitaliza e salva imagens
Comment[ro]=Scanează și salvează imagini
Comment[ru]=Сканировать и сохранить изображения
Comment[sk]=Skenovať a uložiť obrázky
Comment[sl]=Optično preberite in shranite slike
Comment[sq]=Skano dhe ruaji imazhet
Comment[sv]=Läs in och spara bilder
Comment[tr]=Resimleri tara ve kaydet
Comment[ug]=شويلىلاپ سۈرەتكە ساقلاش
Comment[uk]=Сканування і збереження зображень
Comment[x-test]=xxScan and save imagesxx
Comment[zh_CN]=扫描和保存图像
Comment[zh_TW]=掃描與儲存影像
Categories=Qt;KDE;Graphics;Scanning;
X-DBUS-ServiceName=org.kde.skanlite
