[Desktop Entry]
Type=Application
Exec=skanlite -caption "%c" %i
Icon=skanlite
X-DocPath=skanlite/index.html
Terminal=false
Name=Skanlite
Name[ml]=സ്കാന്‍ലൈറ്റ്
Name[pa]=ਸਕਿਨਲਾਈਟ
Name[x-test]=xxSkanlitexx
GenericName=Image Scanning Application
GenericName[cs]=Aplikace pro skenování obrázků
GenericName[da]=Program til scanning af billeder
GenericName[de]=Anwendung zum Einlesen von Bildern
GenericName[el]=Εφαρμογή σάρωσης εικόνων
GenericName[et]=Piltide skaneerimise rakendus
GenericName[fr]=Application de numérisation
GenericName[ga]=Feidhmchlár Scanta Íomhánna
GenericName[gl]=Programa de dixitalización de imaxes
GenericName[it]=Applicazione per la scansione di immagini
GenericName[ja]=画像スキャンソフト
GenericName[km]=កម្មវិធី​ស្កេន​រូបភាព
GenericName[ku]=Sepana Venihartina Wêneyan
GenericName[lv]=Attēlu skenēšanas programma
GenericName[ml]=ചിത്രം പകര്‍ത്തിയെടുക്കാനുള്ള പ്രയോഗം
GenericName[nds]=Bildinlees-Programm
GenericName[nl]=Scanprogramma
GenericName[pa]=ਚਿੱਤਰ ਸਕੈਨ ਕਰਨ ਲਈ ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Program skanujący obrazki
GenericName[pt]=Aplicação de Digitalização de Imagens
GenericName[pt_BR]=Aplicativo de digitalização de imagens
GenericName[ro]=Aplicație de scanare a imaginilor
GenericName[sv]=Program för bildinläsning
GenericName[tr]=Resim Tarayıcı
GenericName[uk]=Програма для сканування зображень
GenericName[x-test]=xxImage Scanning Applicationxx
GenericName[zh_CN]=图像扫描程序
GenericName[zh_TW]=影像掃描程式
Comment=Scan and save images
Comment[cs]=Senovat a uložit obrázky
Comment[da]=Scan og gem billeder
Comment[de]=Bilder einlesen und abspeichern
Comment[el]=Σάρωση και αποθήκευση εικόνων
Comment[et]=Piltide skaneerimine ja salvestamine
Comment[fr]=Numérisation et enregistrement de l'images
Comment[ga]=Scan agus sábháil íomhánna
Comment[gl]=Dixitaliza e garda imaxes
Comment[it]=Scansiona e salva immagini
Comment[ja]=画像をスキャンして保存します
Comment[km]=ស្កេន និង​រក្សាទុក​រូបភាព
Comment[ku]=Wêneyan venihêre û tomar bike
Comment[lv]=Skenē un saglabā attēlu
Comment[ml]=ചിത്രം സ്കാന്‍ ചെയ്തൂ സൂക്ഷിയ്ക്കുക
Comment[nds]=Biller inlesen un sekern
Comment[nl]=Afbeeldingen scannen en opslaan
Comment[pa]=ਚਿੱਤਰ ਸਕੈਨ ਕਰੋ ਅਤੇ ਸੰਭਾਲੋ
Comment[pl]=Skanuj i zapisuj obrazki
Comment[pt]=Digitalizar e gravar imagens
Comment[pt_BR]=Digitalize e salve imagens
Comment[ro]=Scanează și salvează imagini
Comment[sv]=Läs in och spara bilder
Comment[tr]=Resimleri tara ve kaydet
Comment[uk]=Сканування і збереження зображень
Comment[x-test]=xxScan and save imagesxx
Comment[zh_CN]=扫描和保存图像
Comment[zh_TW]=掃描與儲存影像
Categories=Qt;KDE;Graphics;Scanning;
