[Desktop Entry]
Type=Application
Exec=skanlite -caption "%c" %i
Icon=scanner
X-DocPath=skanlite/index.html
Terminal=false
Name=Skanlite
Name[x-test]=xxSkanlitexx
GenericName=Image Scanning Application
GenericName[x-test]=xxImage Scanning Applicationxx
Comment=Scan and save images
Comment[x-test]=xxScan and save imagesxx
Categories=Qt;KDE;Graphics;Scanning;
