# KDE Config File
[Desktop Entry]
Type=Application
Exec=skanlite -caption "%c" %i
Icon=skanlite
X-DocPath=skanlite/index.html
Terminal=false
Name=Skanlite
GenericName=Image Scanning Application
GenericName[et]=Piltide skaneerimise rakendus
GenericName[sv]=Bildläsningsprogram
Comment=Scan and save images
Comment[et]=Piltide skaneerimine ja salvestamine
Comment[sv]=Läs in och spara bilder
Categories=Qt;KDE;Graphics
